In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/PC/Downloads/STEG_BILLING_HISTORY.csv")
data

C:\Users\pc\AppData\Local\Temp\ipykernel_10484\4073292732.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/PC/Downloads/STEG_BILLING_HISTORY.csv")

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,0,202,9.0,1,400,135,0,0,3197,3732,8,ELEC
4476745,train_Client_99998,2005-12-19,10,1253571.0,0,202,6.0,1,200,6,0,0,3732,3938,4,ELEC
4476746,train_Client_99999,1996-09-25,11,560948.0,0,203,6.0,1,259,0,0,0,13884,14143,4,ELEC
4476747,train_Client_99999,1996-05-28,11,560948.0,0,203,6.0,1,603,0,0,0,13281,13884,4,ELEC
4476748,train_Client_99999,1996-01-25,11,560948.0,0,203,6.0,1,516,0,0,0,12765,13281,4,ELEC

In [5]:
client_0_bills = df.head(10)
print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0              0
1  train_Client_0   2013-03-29          11       1335667.0              0
2  train_Client_0   2015-03-23          11       1335667.0              0
3  train_Client_0   2015-07-13          11       1335667.0              0
4  train_Client_0   2016-11-17          11       1335667.0              0
5  train_Client_0   2017-07-17          11       1335667.0              0
6  train_Client_0   2018-12-07          11       1335667.0              0
7  train_Client_0   2019-03-19          11       1335667.0              0
8  train_Client_0   2011-07-22          11       1335667.0              0
9  train_Client_0   2011-11-22          11       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC
5      15638      15952              8         ELEC
6      15952      16493             12         ELEC
7      16493      17078              8         ELEC
8       7770       9156              4         ELEC
9       9156      10238              4         ELEC

In [6]:
print(type(client_0_bills))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB
None

In [8]:
print(f"Nombre de lignes : {df.shape[0]}")
print(f"Nombre de colonnes : {df.shape[1]}")

Nombre de lignes : 4476749
Nombre de colonnes : 16

In [9]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
print(f"Nombre de caractÃ©ristiques catÃ©gorielles : {len(categorical_columns)}")

Nombre de caractÃ©ristiques catÃ©gorielles : 4

In [10]:
print(df.memory_usage(deep=True).sum(), "bytes")

1499843451 bytes

In [11]:
missing_values = df.isnull().sum()
print("Valeurs manquantes par colonne :")
print(missing_values)

Valeurs manquantes par colonne :
client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

In [13]:
for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].median(), inplace=True)

In [17]:
numeric_columns = df.select_dtypes(include=[np.number]).columns
print(df[numeric_columns].describe())

NameError: name 'np' is not defined

In [18]:
client_0_bills_method1 = df[df['client_id'] == 'train_Client_0']

In [19]:
client_0_bills_method2 = df.query("client_id == 'train_Client_0'")

In [20]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['counter_type'] = label_encoder.fit_transform(df['counter_type'])

In [21]:
df.drop(columns=['counter_statue'], inplace=True)

In [22]:
print(df.head())

        client_id invoice_date  tarif_type  counter_number  counter_code  \
0  train_Client_0   2014-03-24          11       1335667.0           203
1  train_Client_0   2013-03-29          11       1335667.0           203
2  train_Client_0   2015-03-23          11       1335667.0           203
3  train_Client_0   2015-07-13          11       1335667.0           207
4  train_Client_0   2016-11-17          11       1335667.0           207

   reading_remarque  counter_coefficient  consommation_level_1  \
0               8.0                    1                    82
1               6.0                    1                  1200
2               8.0                    1                   123
3               8.0                    1                   102
4               9.0                    1                   572

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   old_index  new_index  months_number  counter_type
0      14302      14384              4             0
1      12294      13678              4             0
2      14624      14747              4             0
3      14747      14849              4             0
4      15066      15638             12             0